{% extends 'base.html' %}

{% block content %}

{% load static %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">LISTA DE TIPOS DE EQUIPAMENTOS</h6>
                        </div>
                        <br>
                        {% if messages %}
                        <div class="alert alert-warning">
                                {% for m in messages %}
                                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="card-body">
                            <a href="{% url 'tipo_create' %}"> <button type="button" class="btn btn-primary" style="margin-bottom: 10px;">+ Tipo</button></a>
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="data" width="100%" cellspacing="0">
                                    <thead>
                                        <tr style="background-color:rgba(0, 0, 0, 0.726); color: white;">
                                            <th>Nome</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tipo in tipos %}
                                        <tr>
                                            
                                            <td><a href="{% url 'tipo_edit' tipo.id %}">{{ tipo.nome }}</a></td>
                                            
                                            <td>
                                                <a href="{% url 'tipo_delete' tipo.id %}" class="btn btn-danger btn-sm" title="Excluir">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">Nenhum tipo registrado </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                               <!-- <nav aria-label="Navegação de página">
                                  <ul class="pagination justify-content-center">
                                      {% if page_obj.has_previous %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">&laquo;Anterior</a>
                                        </li>
                                      {% endif %}

                                        <li class="page-item active">
                                          <a class="page-link" href="#">Página: {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} <span class="sr-only">(atual)</span></a>
                                        </li>

                                      {% if page_obj.has_next %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;Próximo</a>
                                        </li>
                                      {% endif %}
                                  </ul>
                                </nav> -->

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</body>

{% endblock %}

