{% extends 'base.html' %}

{% block content %}

{% load static %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Equipamentos</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a> / <a href="{% url 'contrato_list' %}">Contratos</a> / <a href="#" onclick="history.go(-1)">Atendimentos</a></li>
                            
                            <li class="breadcrumb-item active">Equipamentos</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-4" style="background-color: blue; position: relative;">
                            <h6 class="m-0 font-weight-bold text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 20px;">EQUIPAMENTOS</h6>
                        </div>
                        <br>
                        {% if messages %}
                        <div class="alert alert-warning">
                                {% for m in messages %}
                                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="card-body">
                            {% for atendimento in atendimentos %}
                                <a href="{% url 'equipamento_create' atendimento.id %}"> <button type="button" class="btn btn-primary" style="margin-bottom: 10px;">+ Equipamento</button></a>
                        
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" style="margin-bottom: 10px;">Imprimir</button>
                                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" style="margin-bottom: 10px;">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                      <a class="dropdown-item" href="{% url 'imprimir_equipamento' atendimento.id %}">Equipamento <i class="fas fa-print icon-green" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                
                            {% endfor %}

                        
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="data" width="100%" cellspacing="0">
                                    <thead>
                                        <tr style="background-color:rgba(0, 0, 0, 0.726); color: white;">
                                            <th>Contrato</th>
                                            <th>Tipo</th>
                                            <th>Atendimento</th>
                                            <th>Ambiente</th>
                                            <th>Marca</th>
                                            <th>Tag</th>
                                            <th>Série</th>
                                            <th>Capacidade</th>
                                            {% if user.is_staff %}
                                                <th></th>
                                            {% endif %}
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for equipamento in equipamentos %}
                                        <tr>
                                            <td><a href="{% url 'equipamento_edit' equipamento.id %}">{{ equipamento.atendimento.contrato }}</a></td>
                                            <td>{{ equipamento.tipo }}</td>
                                            <td>{{ equipamento.atendimento }}</td>
                                            <td>{{ equipamento.ambiente }}</td>
                                            <td>{{ equipamento.marca }}</td>
                                            <td>{{ equipamento.tag }}</td>
                                            <td>{{ equipamento.numero_serie }}</td>
                                            <td>{{ equipamento.capacidade }}</td>
                                            {% if user.is_staff %}
                                                <td>
                                                    <a href="{% url 'equipamento_delete' equipamento.id %}" title="Excluir">
                                                        <i class="fa fa-trash icon-red" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <a href="{% url 'periodicidade_list' equipamento.id %}" title="PERIODICIDADE">
                                                    <i class="fas fa fa-list" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="8">Nenhum equipamento registrado </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                               <!-- <nav aria-label="Navegação de página">
                                  <ul class="pagination justify-content-center">
                                      {% if page_obj.has_previous %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">&laquo;Anterior</a>
                                        </li>
                                      {% endif %}

                                        <li class="page-item active">
                                          <a class="page-link" href="#">Página: {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} <span class="sr-only">(atual)</span></a>
                                        </li>

                                      {% if page_obj.has_next %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;Próximo</a>
                                        </li>
                                      {% endif %}
                                  </ul>
                                </nav> -->

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</body>

{% endblock %}

